#DB INFO
DB_NAME=bookings_db
DB_PASS=postgres
DB_USER=postgres

#APP SECURITY INFO
SECRET_KEY=your-secret-key(hex)
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
DUMMY_HASH=your-dummy-hash

#ADMIN INFO
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=admin1619

#EMAIL INFO
MAIL_SERVER=your.smtp.server
MAIL_PORT=2525
MAIL_USERNAME=your_username
MAIL_PASSWORD=password123

#ENV TYPE FOR LOGGING (prod, dev)
ENV=dev/prod

#USER AND GROUP ID
UID=id -u
GID=id -g